  <main>
    {{#each this}}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                {{text}}
                <div>
                    - {{user.username}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</main>