<h1>This is The Tech Blog</h1>

{{#each postArr}}
    <h2>{{dataValues.title}}</h2>
    <p>{{dataValues.post_text}}</p>
    <h2>Comments:</h2>
    {{#each dataValues.Comments}}
        <p>{{dataValues.text}}</p>
    {{/each}}
{{/each}}